/*---------General---------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Titulos";
  src: url(/Multimedia/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: "texto";
  src: url(/paginas/Acme-Regular.ttf);
}

body {
  background-image: url(/Multimedia/img-about/background-main2.jpg);
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  backdrop-filter: blur(3px);
}

/*---------Banner-titulo---------*/

.contenedor-titulo {
  position: relative;
  height: 30vh;
  background-image: url(/Multimedia/img-about/banner.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 2000px) {
  .contenedor-titulo{
    height: 10rem;
  }
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 3rem;
  text-align: center;
  font-family: "Titulos";
}

/*---------Banner-alumnos---------*/
.contenedor-banners {
  display: flex;
  flex-wrap: wrap;
  margin-left: 4rem;
  justify-content: center;
  max-width: 90%;
}

.banner {
  width: 100%;
  margin: 3rem 3rem 3rem 3rem;
  overflow: hidden;
  background: linear-gradient(
    to bottom,
    rgba(26, 26, 27, 0.726),
    rgba(114, 114, 131, 0.6)
  );
  border: 5px solid transparent;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    border-color: rgba(255, 0, 0, 0.7);
  }
  50% {
    border-color: rgba(0, 255, 0, 0.7);
  }
  100% {
    border-color: rgba(0, 0, 255, 0.7);
  }
}

.banner img {
  max-width: 17rem;
  margin: auto;
  border: 5px solid transparent;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    border-color: rgba(255, 0, 0, 0.7);
  }
  50% {
    border-color: rgba(0, 255, 0, 0.7);
  }
  100% {
    border-color: rgba(0, 0, 255, 0.7);
  }
}

img:hover {
  transform: scale(1.05);
  transition-duration: 2.5s;
}

.banner .contenido {
  display: flex;
  align-items: center;
  width: 50%;
}

.banner-titulo {
  margin-top: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif !important;
  color: aliceblue;
}

.banner:nth-child(odd) img {
  float: left;
}

.banner-text {
  margin: 2rem 2rem 2rem 2rem;
  padding: auto;
  font-size: 1.5rem;
  font-family: "texto" !important;
  color: aliceblue;
}

.banner:nth-child(even) img {
  float: right;
}

@media (max-width: 768px) {
  .banner img {
    float: none;
    width: 100%;
    margin-right: 0;
  }

  .banner .contenido {
    display: block;
    width: 100%;
  }
}

@media (max-width: 1290px) {
  body {
    background-image: url(/Multimedia/img-about/background-main2.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
  }
}
