/*---------General---------*/
* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

.conteiner-general {
  background-image: url(/Multimedia/img-section/background-index.jpg);
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  backdrop-filter: blur(3px);
}

@media (max-width: 1290px) {
  .conteiner-general {
    background-image: url(/Multimedia/img-section/background-index.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
  }
}

.section-banner .card {
  background-color: #273248;
}

.section-titulo p {
  animation: fromRight;
  animation-duration: 500ms;
  animation-timing-function: linear;
}

@keyframes fromRight {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0%);
  }
}

/*---------Navbar---------*/
/* .navbar-superior {
  background-color: #ff6347 !important;
  border-radius: 1rem;
} */

/* .navbar {
  background-color: #dc143c !important;
  border-radius: 1rem;
} */

.collapse b,
strong,
a {
  color: aliceblue;
}

/*---------Carrusel---------*/
.carousel-inner img {
  height: 25rem;
}

.carousel-caption h3,
p {
  font-size: 1.4rem;
  font-weight: bold;
  font-style: italic;
  color: white;
}

.carousel-caption .botoncarrusel a {
  font-size: 1.2rem;
}

.carousel-control-next,
.carousel-control-prev {
  width: 5% !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 3rem !important;
  height: 3rem !important;
}

@media (max-width: 900px) {
  .carousel-inner img {
    height: 20rem;
  }
}

@media (max-width: 700px) {
  .carousel-inner img {
    height: 15rem;
  }
}

/*---------BannerX3---------*/
.card-img-overlay h5 {
  text-align: center;
  line-height: 11rem;
  font-size: 3rem;
}

.card-img-overlay p {
  text-align: center;
  margin-top: 2rem;
}

.card-img-overlay h5:hover {
  font-size: 4rem;
  text-decoration: underline;
  color: red;
  text-shadow: 0px 2px 1px #333333, 0px 0px 4px white;
}

.card-img-overlay h5 {
  animation: fromRight;
  animation-duration: 500ms;
  animation-timing-function: linear;
}

@keyframes fromRight {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}

/*---------BannerX2---------*/

/*---------Card---------*/
.card-body {
  margin: 0.2rem !important;
  padding: 0.1rem !important;
}

.card-body .card-body-preciomt h5 {
  color: #000080;
  text-decoration: solid;
}
.card-body-button button {
  background-color: #000080;
}

@media (max-width: 1000px) {
  .card h6 {
    font-size: 0.8rem;
  }
  .card h5 {
    font-size: 0.8rem;
  }
  .card-body-button button {
    font-size: 0.4rem;
  }
}

@media (max-width: 570px) {
  .card {
    width: 80%;
    display: flex;
  }

  .card h6 {
    font-size: 1rem;
  }
  .card h5 {
    font-size: 1rem;
  }
  .card-body-button button {
    font-size: 1rem;
  }
}
