* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Baby Blue
#D6DDE0

Blue Grotto
#446FA0

Navy Blue
#223C60

Gunmetal Gray
#51555B */

/* .container {
  width: 100%;
  height: 100vh;
  background-color: #51555b;
  background-position: center;
  background-size: cover;
  position: relative;
} */
.form-box {
  background-color: #d6dde0;
  padding: 50px 60px 70px;
  text-align: center;
}

.form-box h1 {
  font-size: 30px;
  margin-bottom: 60px;
  color: #446fa0;
  position: relative;
}

.form-box h1::after {
  content: "";
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background-color: #446fa0;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.input-field {
  background-color: #eaeaea;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}

input {
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

form p {
  text-align: left;
  font-size: 13px;
  margin-bottom: 15px;
}

form p a {
  text-decoration: none;
  color: #51555b;
}

#acceder {
  width: 55%;
  margin-top: 20px;
  background: #223c60;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

/* Modal */

#modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

#modal {
  width: 450px;
  top: 10%;
  left: 35%;
  border-style: none;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

/* Baby Blue
#D6DDE0

Blue Grotto
#446FA0

Navy Blue
#223C60

Gunmetal Gray
#51555B */

/* .container {
  width: 100%;
  height: 100vh;
  background-color: #51555b;
  background-position: center;
  background-size: cover;
  position: relative;
}
.form-box {
  width: 90%;
  max-width: 450px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #d6dde0;
  padding: 50px 60px 70px;
  text-align: center;
}

.form-box h1 {
  font-size: 30px;
  margin-bottom: 60px;
  color: #446fa0;
  position: relative;
}

.form-box h1::after {
  content: "";
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background-color: #446fa0;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.input-field {
  background-color: #eaeaea;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  max-height: 65px;
  transition: max-height 0.5s;
  overflow: hidden;
}

input {
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
}

form p {
  text-align: left;
  font-size: 13px;
  margin-bottom: 15px;
}

form p a {
  text-decoration: none;
  color: #51555b;
}

button {
  width: 55%;
  margin-top: 20px;
  background: #223c60;
  color: #fff;
  height: 40px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
} */
