* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---------Navbar-General---------*/
.navbar {
  background: linear-gradient(to left, #884299, #e2cee5);
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

/*---------Navbar-superior---------*/
.navbar-sup div ul {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  list-style: none;
}

.navbar-sup div ul a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

@media (max-width: 650px) {
  .navbar-sup div ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0.5rem;
    width: 100%;
  }

  .navbar-sup div ul a {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  .navbar-sup div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0.5rem;
    width: 100%;
  }
}


/*---------Navbar-inferior---------*/
.navbar-inf div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: linear-gradient(to left, #884299, #e2cee5);
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
.navbar-inf img{
  height: 6rem;
}

.navbar-inf div ul li {
  margin-left: 3rem;
  margin-right: 3rem;
}

.navbar-inf div ul li {
  text-align: center;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.containerGeneral {
  display: flex;
}

.imglogo body {
  position: relative;
  padding-bottom: 9rem;
}

@media (max-width: 1000px) {
  .navbar-inf div ul li {
    margin: 1rem;
  }
}

@media (max-width: 650px) {
  .navbar-inf img{
    height: 4rem;
  }
}

@media (max-width: 550px) {
  .navbar-inf img{
    height: 3rem;
  }

  .navbar-inf div ul li {
    margin: 0.5rem;
  }
}


/*---------Footer---------*/
.footer {
  background: linear-gradient(to left, #884299, #e8dfea);
  text-align: center;
  margin-top: 1rem;
}

.footer h3 {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}

.footer li a,
p {
  font-size: 2rem;
  /* font-style: italic; */
  font-weight: bold;
}

.footer ul {
  list-style: none;
}

.footer-menu {
  margin-top: 2rem;
}

.footer-menu ul {
  display: flex;
  flex-direction: column;
}

.footer-redes {
  margin-top: 2rem;
}

.footer-redes ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-ubicacion ul li iframe {
  width: 13rem;
  height: 13rem;
}

.dropdown-item img{
  width: 3rem;
  height: 3rem;
}


/*---------Footer-media---------*/

@media (max-width:1000px) {
  .footer h3 {
    font-size: 2rem;
  }

  .footer li a,
p {
  font-size: 1.5rem;
}
.footer-ubicacion ul li iframe {
  width: 10rem;
  height: 10rem;
}
}
  
@media (max-width:800px) {
  .footer h3 {
    font-size: 1.5rem;
  }

  .footer li a,
p {
  font-size: 1.2rem;
}
.footer-ubicacion ul li iframe {
  width: 8rem;
  height: 8rem;
}
.dropdown-item img{
  width: 2.5rem;
  height: 2.5rem;
} }


@media (max-width:600px) {
  .footer h3 {
    font-size: 1.2rem;
  }

  .footer li a,
p {
  font-size: 1rem;
}
.footer-ubicacion ul li iframe {
  width: 6rem;
  height: 6rem;
}
.dropdown-item img{
  width: 2rem;
  height: 2rem;
} }


@media (max-width:450px) {
  .footer .iconos{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .footer-menu{
    margin-top: 0.5rem;
  }

  .footer h3 {
    font-size: 1.2rem;
  }

  .footer li a,
p {
  font-size: 1.3rem;
}
.footer-ubicacion ul li iframe {
  width: 7rem;
  height: 7rem;
}

.footer-redes{
  margin-top: 0.5rem;
}

.dropdown-item img{
  width: 2rem;
  height: 2rem;
} }


